{{ define "curtidas" }}
    <i class="fas fas-heart curtir-publicacao"></i>
    <span>{{ .Curtidas }} curtidas</span>
{{ end }}

{{ define "editar" }}
    <a href="/publicacoes/{{ .ID }}/editar" style="text-decoration: none;">
        <i class="fas fa-edit"></i>
    </a>
{{ end }}

{{ define "deletar" }}
    <a href="/deletar" style="text-decoration: none;">
        <i class="fas fa-trash text-danger"></i>
    </a>
{{ end }}

{{ define "cabecalho-publicacao"}}
    <h1 class="display-4">{{ .Titulo }}</h1>
    <p class="lead">{{ .Conteudo }}</p>
    <a href="#">{{ .AutorNick }} - {{ CriadaEm.Format "02/01/2006 3:4" }}</a>
    <!--
        Jan 2 15:04:05 2006 //data referência do golang
        1(mês) 2(dia) 3(hora) 4(minutos) 5(segundo) 6(ano)
    -->
    <hr class="my-4">
{{ end }}


{{ define "publicacao-com-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacao" . }}
        <p>
            {{ template "curtidas" . }}
            {{ template "editar" }}
            {{ template "deletar" }}
        </p>
    </div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacao" . }}
        <p>
            {{ template "curtidas" . }}
        </p>
    </div>
{{ end }}